.common {
  font-size: var(--fontSize);
  padding: var(--padding);
  width: var(--width);
  border-radius: var(--radius);
  border: 1px solid black;
}

.input {
  outline: none;
}

.list {
  list-style: none;
  margin-top: 4em;
}

.listItem {
  margin: 1rem 0;
}
